<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}EMMA{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/dropzone.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
    </head>
    <body style="background-color: #ECDDDA">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-md-push-5"><h1 class="emma">EMMA</h1></div>
        <div class="col-md-3 col-md-push-7 loginfo">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <p class="loginfotext" >  {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a></p>
            {% endif %}
        </div>


    </div>
    <hr>

        {% block body %}{% endblock %}
</div>
        {% block javascripts %}{% endblock %}

    </body>
</html>
